{% extends 'base.html' %}

{% from "_macros/select.twig" import multi, select %}
{% from "_macros/input.twig" import input, number %}

{% block content %}

<form class="ui form segment">
    <div class="ui bottom attached tab active" data-tab="main">
        <h4 class="ui dividing header">{%trans%}Настройки{%endtrans%}</h4>
        <div class="ui four column grid">
            {% autoescape 'html' %}

            {{ select('language', 'Язык генерации'|trans, 'Выберите язык, который будет использован при генерации данных. Это повлияет на структуру и данные. К примеру, если будет выбран русский, то имя пользователя будет Георгий. А если - английский, то имя будет Gregory.'|trans, settings, available_languages) }}
            {{ multi('users', 'Список пользователей'|trans, 'Выберите пользователей, которые случайным образом будут браться'|trans, settings, users) }}
            {{ multi('categories', 'Список категорий'|trans, 'Выберите категории, которые случайным образом будут браться'|trans, settings, categories) }}
            {{ number('categories_count', 'Количество категорий'|trans, 'Укажите кол-во категорий, которые будут проставливаться случайным образом в новость.'|trans, settings) }}

            {% endautoescape %}
        </div>
    </div>
</form>
<div class="ui segment">
    <div class="ui button save" tabindex="0">{%trans%}Сохранить{%endtrans%}</div>
</div>
{% endblock %}


{% block scripts %}

{% autoescape 'js' %}
<script>
	$(() => {
		$(document).on('click', '.save', function () {
			startLoading();
			$.ajax({
				url: 'engine/ajax/controller.php?mod=maharder',
				data: {
					user_hash: '{{dle_login_hash}}',
					module: '{{module_code}}',
					file: 'master',
					method: 'settings',
					data: $('.form').serialize()
				},
				type: 'POST',
				success: function (data) {
					hideLoading('');
					$('body').toast({
						class: 'success',
						title: data.message,
						message: data.data?.join('<br>'),
						showProgress: 'bottom'
					});

				},
                error: function (error) {
					hideLoading('');
                    let data = error;
					try {
                        data = JSON.parse(error.responseText);
					} catch (e) {}

                    console.error(data)

					validateForm(data.meta, 'error');

					$('body').toast({
						class: 'error',
						title: data.message,
						message: data.data?.join('<br>'),
						showProgress: 'bottom'
					});
                }
			});
		});
	});
</script>
{% endautoescape %}
{% endblock %}
